.sidebar {
    display: flex;
    flex-direction: column;  /* Stack items vertically */
    min-height: 100vh;           /* Make sidebar take full height of the viewport */
    padding: 20px;
    width: 70px;
    background-color: rgb(242, 242, 242);
 
  }
  
  .sidebar > * {
    margin-bottom: 10px; /* Space between each element */
  }

  
.task-logo-container{
    background-color: white;
    padding: 5px;
    width: 40px;
    margin: 10px;
    border-radius: 7px;
    font-size: 15px;
    text-align: center;
   
}

.sidebar > .bottom {
    margin-top: auto;   /* Push this to the bottom */
    
  }

.task-logo-container:hover{
    box-shadow: 1px  1px 2px lightblue;
  
    cursor: pointer;
}
.user-icon{
    bottom:10;
}